.frame,
.frame-1 {
    padding: 10px;
    margin: 0 auto;

}

.explore-tours {
    font-size: 24px;
    font-family: Inter, var(--default-font-family);
    text-align: center;
    line-height: 29px;
    font-weight: 300;



}

.new-popular-tour {
    font-size: 3rem;
    font-weight: 700;
    font-family: Inter, var(--default-font-family);



}

.main-container-HT {
    margin-top: -10rem;
}